{{> head_2}}

<body class="body">

	<!--mensajes tipo alert -->
	{{> mensajes}}

	<!--  NAVBAR -->
	{{> header_2}}

	<!--  JUMBOTRON CARROUSEL-->





	<!--
	{{#if user }}
	<div class="container">
		{{#if total }}

		<div class="m-5">
			<h3 class="text-light">Usted tiene un total de {{total}} proyectos.</h3>
			{{#each proyectos}}
			<div class="card bg-dark opacity-75 m-3 p-3 text-light">
				<div class="card-header">
					Proyecto creado el {{this.fecha}}
					<hr>
				</div>
				<div class="card-body">
					<ul>
						{{#each this.productos}}
						<li>{{this.nombre}} <small>{{this.descripcion}}</small></li>
						{{/each}}
					</ul>
				</div>
			</div>
			{{/each}}
		</div>

		{{else}}

		<div class="m-5 alert alert-primary" role="alert">
			<p>Todavia no tiene proyectos.</p>
		</div>

		{{/if}}
	</div>
	{{/if}}
-->






	<div class="mb-5">
		<h3 class="titulo" style="opacity:95%; background-color:#293762; color: #f3f3ff">Armar mi proyecto</h3>
	</div>

	<div class="container mt-5 mb-5">

		<div id="myDIV3" class="card quienes">
			<h1 class="card-header text-center font-monospace fs-2">
				Queremos comprender en que situacion se encuentra tu proyecto.
			</h1>
			<div class="card-body text-center">
				<h3 class="card-title font-monospace fs-1">Te pedimos que selecciones las opciones que se adapten a
					tu idea, para organizar la información y nosotro@s poder hacer un primer presupuesto.</h3><br>
				<h4 class="card-text">Así ya podremos
					saber con que tipo de proyecto trabajaremos.</h4><br>
				<h4 class="card-text">¿Tenés dudas? Visitá: </h4><br>
				<a href="/todo_lo_que_tengo_que_saber" class="btn btn-outline-azul btn-lg"><strong>Todo lo que tengo
						que
						saber
					</strong></a><br>
			</div>
		</div><br>


		<!-- CARDS ARMAR MI PROYECTO  -->

		<form method="post" action="/armar_mi_proyecto">
			<div class="d-flex flex-wrap flex-row ">


				<!-- ============================== -->
				<!-- =====¿Qué proyecto quiero?===== -->
				<!-- ============================== -->
				<div class="card d-flex flex-column justify-content-between" style="width: 18rem;">
					<img src="img/armar.png" class="card-img-top" alt="¿Qué proyecto quiero? Elegir opciones">
					<div class="card-body text-center">

						<select class="form-control text-center" name="que_proyecto_quiero" id="que_proyecto_quiero">
							<option value="">¡Eligue uno!</option>
							<option value="Blog/magazine"
								title="Un blog o un sitio web de revista se centra en el contenido editorial.">
								Blog/magazine
							</option>
							<option value="Landing page" title="informan al visitante sobre un producto específico">
								Landing page
							</option>
							<option value="E-commerce/Tienda on-line"
								title="venta online de productos físicos o servicios">
								E-commerce/Tienda on-line
							</option>
							<option value="Empresariales/corporativas"
								title="se utilizan para manejar la presencia de la empresa en internet">
								Empresariales/corporativas
							</option>
							<option value="Necesito algo mas personalizado"
								title="se utilizan para manejar la presencia de la empresa en internet">
								Necesito algo mas personalizado
							</option>
						</select>

					</div>
				</div>


				<!-- ========================= -->
				<!-- =====Punto de partida===== -->
				<!-- ========================= -->
				<div class="card d-flex flex-column justify-content-between" style="width: 18rem;">
					<img src="img/armar.1.png" class="card-img-top" alt="Punto de partida. Elegir opciones">
					<div class="card-body text-center">

						<select class="form-control text-center" name="punto_de_partida" id="punto_de_partida">
							<option value="">¡Eligue uno!</option>
							<option value="¡Ya tengo una idea!">
								¡Ya tengo una idea!
							</option>
							<option value="Cuento con la idea y el diseño">
								Cuento con la idea y el diseño
							</option>
							<option value="Hay un proyecto ya publicado">
								Hay un proyecto ya publicado
							</option>
							<option value="Hay un proyecto no publicado">
								Hay un proyecto no publicado
							</option>
						</select>

					</div>
				</div>


				<!-- =============================== -->
				<!-- =====Mapa del sitio===== -->
				<!-- =============================== -->
				<div class="card d-flex flex-column justify-content-between" style="width: 18rem;">
					<img src="img/armar.2.png" class="card-img-top" alt="Mapa del sitio. Elegir opciones">
					<div class="card-body text-center">

						<select class="form-control text-center" name="mapa_del_sitio" id="mapa_del_sitio">
							<option value="">¡Eligue uno!</option>
							<option value="¡Ya tengo uno!">
								¡Ya tengo uno!
							</option>
							<option value="Cuento con la idea pero no tengo el diseño">
								Cuento con la idea pero no tengo el diseño
							</option>
							<option value="Quiero que lo hagan por mi">
								Quiero que lo hagan por mi
							</option>
							<option value="No será necesario">
								No será necesario
							</option>
						</select>

					</div>
				</div>
			</div>

			<div class="d-flex flex-wrap flex-row ">

				<!-- ================================= -->
				<!-- ===== Imagenes ===== -->
				<!-- ================================= -->
				<div class="card d-flex flex-column justify-content-between" style="width: 18rem;">
					<img src="img/armar.3.png" class="card-img-top" alt="Imágenes. Elegir opciones.">
					<div class="card-body text-center">

						<select class="form-control text-center" name="imagenes" id="imagenes">
							<option value="">¡Eligue uno!</option>
							<option value="¡Ya las tengo!">
								¡Ya las tengo!
							</option>
							<option value="Necesito asesoramiento">
								Necesito asesoramiento
							</option>
							<option value="Quiero que lo hagan por mi">
								Quiero que lo hagan por mi
							</option>
							<option value="No será necesario">
								No será necesario
							</option>
						</select>

					</div>
				</div>


				<!-- ============================= -->
				<!-- ===== Contenido ===== -->
				<!-- ============================= -->
				<div class="card d-flex flex-column " style="width: 18rem;">
					<img src="img/armar.4.png" class="card-img-top" alt="Contenido. Elegir opciones">
					<div class="card-body text-center">

						<select class="form-control text-center" name="contenido" id="contenido">

							<option value="">¡Elige uno!</option>
							<option value="Tengo el contenido">
								Tengo el contenido
							</option>
							<option value="Trabajaré en el contenido">
								Trabajaré en el contenido
							</option>
							<option value="Necesito asesoramiento">
								Necesito asesoramiento
							</option>
							<option value="Quiero que lo hagan por mi">
								Quiero que lo hagan por mi
							</option>

						</select>

					</div>
				</div>
				<!-- ============================= -->
				<!-- ===== Palabras clave ===== -->
				<!-- ============================= -->
				<div class="card d-flex flex-column " style="width: 18rem;">
					<img src="img/armar.5.png" class="card-img-top" alt="Palabras clave. Elegir opciones.">
					<div class="card-body text-center">

						<select class="form-control text-center" name="palabras_clave" id="palabras_clave">

							<option value="">¡Elige uno!</option>
							<option value="Ya las tengo">
								Ya las tengo
							</option>
							<option value="Necesito asesoramiento">
								Necesito asesoramiento
							</option>
							<option value="Quiero que lo hagan por mi">
								Quiero que lo hagan por mi
							</option>


						</select>

					</div>
				</div>
			</div>



			<div class="d-flex flex-wrap flex-row ">
				<!-- ========================== -->
				<!-- ===== Detalles finales ===== -->
				<!-- ========================== -->


				<div class="card d-flex flex-column ">
					<img src="img/armar.6.png" class="card-img-top" alt="Detalles finales del proyecto. ">
					<div class="card-body text-center">

						<p class="card-text Text-center">Agrega datos adicionales que creas que son importantes para tu
							proyecto.</p><br>
						<textarea name="detalles_finales" id="detalles_finales" class="w-100"
							placeholder="Escribe aquí... Dinos si eres una empresa, organizacion, emprendimiento o paricular y para cuando necesitas el proyecto. "
							rows="5"></textarea>

					</div>
				</div>


				<!-- ========================== -->
				<!-- ===== Datos personales ===== -->
				<!-- ========================== -->
				<div class="card d-flex flex-column " style="width: 5rem;">
					<img src="img/armar.7.png" class="card-img-top" alt="Datos personales. Nombre, correo y telefono.">
					<div class="card-body text-center">

						<div class="form-group">
							<label for="nombre">Nombre:</label>
							<input type="text" class="form-control" name="nombre" id="nombre" required>
						</div>

						<div class="form-group">
							<label for="correo">Correo electronico:</label>
							<input type="email" class="form-control" name="correo" id="correo" required>
						</div>

						<div class="form-group">
							<label for="telefono">Telefono:</label>
							<input type="text" class="form-control" name="telefono" id="telefono" required>
						</div>

					</div>
				</div>



			</div>

			<div class="p-4 text-center">
				<!--<button class="btn btn-block btn-outline-dark" type="submit">Enviar</button>-->

				<!-- ========================== -->
				<!-- Boton para abrir el Modal -->
				<!-- ========================== -->
				<button type="button" class="btn btn-lg px-5 btn-secondary btn-celeste"
					onclick="modal_armar_mi_proyecto()" data-bs-toggle="modal" data-bs-target="#myModal">
					Enviar proyecto
				</button>
			</div>

			<!-- ========================== -->
			<!-- Modal -->
			<!-- ========================== -->
			<div class="modal fade" id="myModal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="m-0 card card-blanco">

							<!-- Modal Header -->
							<!--<div class="modal-header">
								<h4 class="modal-title text-center">Revisa que los datos sean correctos</h4>
								<button type="button" class="btn-close"
									data-bs-dismiss="modal"></button>
							</div>-->
							<h1 class="card-header text-center text- font-monospace fs-2">Revisa que los datos sean
								correctos</h1>

							<!-- Modal body -->
							<div class="card-body">
								<p id="que_proyecto_quiero_modal"></p>
								<p id="punto_de_partida_modal"></p>
								<p id="mapa_del_sitio_modal"></p>
								<p id="imagenes_modal"></p>
								<p id="contenido_modal"></p>
								<p id="palabras_clave_modal"></p>
								<p id="detalles_finales_modal"></p>
								<hr>
								<p class="text-right" id="nombre_modal"></p>
								<p class="text-right" id="correo_modal"></p>
								<p class="text-right" id="telefono_modal"></p>
							</div>
							<hr class="m-0 p-0">
							<!-- Modal footer -->
							<div class="row p-3">
								<div class="col">
									<button type="button" class="btn btn-block btn-outline-secondary btn-outline-gris"
										data-bs-dismiss="modal">Volver</button>
								</div>
								<div class="col">
									<button id="btn-enviar"
										class="btn btn-block btn-outline-secondary btn-outline-celeste"
										type="submit">Enviar</button>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

		</form>

		<br><br>
	</div>


	<!-- FOOTER  -->
	{{> footer}}

</body>

</html>