{{> head_2}}

<body class="body">

	<!-- HEADER -->
	{{> header_2}}
	
	<!--  JUMBOTRON CARROUSEL-->
	{{> jumbotron}}

	<!--mensajes tipo alert -->
	{{> mensajes}}


<!--
<div class="text-white p-5">
        <ul>
                <li>miVariable {{miVariable}}</li>
                <li>miOtraVariable {{miOtraVariable}}</li>
                <li>laReq: {{laReq}}</li>
                <li>user: {{user}}</li>
                <li>user.nombre: {{user.nombre}}</li>
                <li>user.correo: {{user.correo}}</li>
                <li>user.rol: {{user.rol}}</li>
                <li>user.estado: {{user.estado}}</li>

        </ul>
</div>
-->

        <div class="container mb-5">

                <div class="tarjeta p-3">
                        <h2 class="text-center">Edita tus datos</h2>
                        <form action="#" method="post">

                                <div class="form-group">
                                        <label for="editar-nombre" class="form-label">Nombre</label>
                                        <input type="text" class="form-control" id="editar-nombre" value="{{user.nombre}}">
                                </div>

                                <div class="form-group">
                                        <label for="editar-apellido" class="form-label">Apellido</label>
                                        <input type="text" class="form-control" id="editar-apellido" value="{{user.apellido}}">
                                </div>

                                <div class="form-group">
                                        <label for="editar-ubicacion" class="form-label">Ubicacion</label>
                                        <input type="text" class="form-control" id="editar-ubicacion" required value="{{user.ubicacion}}">
                                </div>

                                <div class="">
                                        <button class="btn btn-primary" id="editar-datos">Guardar</button>
                                </div>
                                
                        </form>
                </div>

                <!--
                <div id="slider-k">
                        <div class="frame-k">
                                <img src="img/1.png" alt="" />
                        </div>
                        <div class="frame-k">
                                <img src="img/2.png" alt="" />
                        </div>
                        <div class="frame-k">
                                <img src="img/3.png" alt="" />
                        </div>
                        <div class="frame-k">
                                <img src="img/4.png" alt="" />
                        </div>
                        <div class="frame-k">
                                <img src="img/5.png" alt="" />
                        </div>
                </div>
                -->

        </div>

        <!-- FOOTER -->
        {{> footer}}


        <script src="js/perfil.js"></script>
</body>

</html>